
Old_code/

Old_code_acfas/

Other_Figures/

Kinematic_bounds_Pigeon2003/

Test_back_and_forth/

Zips/

PianoViolinToShare_KinematicTheory_Final_MiguelAF/

Paper/

Figures/

Docs/

Acfas/

__pycache__/

.idea/

~$timal Control BB v4.docx

~WRL1355.tmp

~WRL2198.tmp

discussion.csv

~$timal Control BB v3.docx

pendulum.bioMod

vtp/
